.justify-content-center{
	display: flex;
}
.callout-buttons{
	padding: 1%;
}
.card{
	height: 7em;
}
.icon{
	margin:auto;
}
.fa-square{
	transform:rotate(45deg);
	font-size:1.5em;
}

.center{
	margin-left: auto;
    margin-right: auto;
	border: 3px;
	border-style: solid;

}
.centerPiece{
	margin-top: auto;
	margin-right: auto;
	
}
.white{
	background-color: lightblue;
	width: 80px;
	height: 80px;
	padding: 0;
	
}
.black{
	background-color: darkcyan;
	width: 80px;
	height: 80px;
	padding: 0;
	
}
.selected{
	border-style: solid;
	border-color: black;
	background-color: orange;
}
.available{
	background-color:  lightgreen;
	border-style: solid;
	border-color: black;
}
p {
	margin-left: auto;
	margin-right: auto;
	white-space: pre-line;
	text-align: center;
	font-weight: bold;
	
}
