.justify-content-center{
	display: flex;
}
.callout-buttons{
	padding: 1%;
}
.home{
	background-color: black;
}

.fa-square{
	transform:rotate(45deg);
	font-size:1.5em;
}

.center{

	margin-left: auto;
    margin-right: auto;
	border: 10px;
	border-style: solid;
	border-color: gray;

}
.centerPiece{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	
}
.white{
	table-layout: fixed;
	box-sizing: border-box;
	padding: 1px;
	width: 80px;
	height: 80px;
	min-width: 80px;
	min-height: 80px;
	max-width: 80px;
	max-height: 80px;
	background-color: lightblue;
	
	
	
	
	
}
.black{
	
	table-layout: fixed;
	box-sizing: border-box;
	padding: 1px;
	width: 80px;
	height: 80px;
	min-width: 80px;
	min-height: 80px;
	max-width: 80px;
	max-height: 80px;
	background-color: darkcyan;
	
	
	
}
.selected{
	
	box-sizing: border-box;
	
	
	border-style: solid;
	border-color: black;
	background-color: orange;
	
	
	
	
}
.available{
	
	box-sizing: border-box;
	
	
	background-color:  lightgreen;
	border-style: solid;
	border-color: black;
	
	
	
}
p {
	margin-left: auto;
	margin-right: auto;
	white-space: pre-line;
	text-align: center;
	font-weight: bold;
	color: white;
	
}
